body {
    background-color: #10161f;
  }
.grid {
    width: 100%;
    height: calc(100% - 80px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
  }

.weatherwidget-io{
    grid-area: 2/1/3/2;
}